body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
#container {
  width: 800px;
  justify-content: center;
}
.orange {
  color: orange;
}
.text-color {
  color: 676767;
}
.text-color-two {
  color: white;
}
.half-width {
  width: 800px;
  display: flex;
}
.half-width img {
  width: 60%;
}
.banner {
  background-image: url(images/shapes/bg-two.png);
  background-repeat: no-repeat;
}
#recipies-header {
  text-align: center;
}
#social {
  display: flex;
}
#foot-background {
  background-color: black;
  text-align: center;
}
